.pageWrapper {
  display: flex;
  min-height: 100vh;
}
@media (max-width: 992px) {
    .pageWrapper {
        flex-direction: column;
    }
  .cart {
    align-items: center;
  }
  .card-mobile {
    width:18rem;
  }
}
.contentArea {
  overflow-x:auto;
  width: 100%;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}
.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}


.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}
.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 30px;
  width:75px;
  height: 100%;
  opacity: 0;
  transition:background 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}
.arrow-left {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.arrow-right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.slider-arrow:hover {
  opacity: 1;
}
